<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Vue.js App</title>
  <link href="main.css" rel="stylesheet">
 </head>
 <body>
  <div id="app">
   <div v-if="ok">v-if条件による描画</div>
   <div v-show="ok">v-show条件による描画</div>
   <template v-if="ok">
    <header>タイトル</header>
    <div>コンテンツ</div>
   </template>
   <div v-if="type === 'A'">
    typeはA
   </div>
   <div v-else-if="type === 'B'">
    typeはB
   </div>
   <div v-else>
    すべての条件を満たさなかった
   </div>
   <hr>
   <h3>debug</h3>
   <pre>{{$data}}</pre>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="main.js"></script>
 </body>
</html>
